<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <ng-container>
        <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label">
        </agm-marker>
        <agm-polyline *ngFor="let polyline of polylines;let i = index;" [strokeColor]="polyline.color">
            <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude"
                [longitude]="point.longitude">
            </agm-polyline-point>
        </agm-polyline>
    </ng-container>
</agm-map>